<div class="main-grids">
	<div class="top-grids">
		<div class="recommended-info">
			<h3>Recent Videos</h3>
		</div>

		<app-login></app-login>

		<button (click)="createMedia()">Créer</button>

		<select class="form-control" [(ngModel)]="valueFilter">
			 <option value="all">Tous</option>
	 		 <option *ngFor="let g of genres" [value]="g">{{g | genre}}</option>
 	  </select>

		<div class="clearfix"> </div>
		<app-card *ngFor="let m of medias | genreFilter:valueFilter | search:searchStr ; let i = index"
							[media]="m" (onDelete)="onDeleteMedia(i)"></app-card>
		<div class="clearfix"> </div>
	</div>
</div>
