<div class="col-md-4 resent-grid recommended-grid slider-top-grids">
  <div class="resent-grid-img recommended-grid-img">
    <a href="single.html"><img [src]="media.thumbnailUrl" alt="" /></a>
  </div>
  <div class="resent-grid-info recommended-grid-info">
    <h3><a [routerLink]="['media', media.id]" class="title title-info">{{media.title}}</a></h3>
    {{media.genre | genre}}
    <button (onConfirm)="deleteMedia($event)" 
    prompt="Voulez-vous supprimer le média ?"
    [mediaId]="media.id">Supprimer</button>
  </div>
</div>
